.App {
  text-align: center;
}

body {
  background-color: rgba(242,242,242,255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.facultybutton {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 200px;
  font-size: 25px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 15px  #d3d3d3;
  color: rgba(30,138,240,255);  
  cursor: pointer;
}

.roomheader{
  background-color:rgba(30,138,240,255);
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  width: 100%;
}

.roombutton{
  background-color: rgb(255, 255, 255);
  text-align: left;
  height: 250px;
  width: 280px;
  font-size: 22px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 15px  #d3d3d3;
  color:#93abc1;
  white-space: pre-line;
  line-height: 40px;
  margin: 10px;
}

.roomdetail {
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 350px;
  font-size: 25px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 15px  #d3d3d3;
  color: rgba(30,138,240,255); 
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Title{
  color: rgba(30,138,240,255);
  font-size: 50px;
  font-weight: bold;
  width: 250px;
  margin: auto;
}

.secondTitle{
  color: rgba(30,138,240,255);  
  font-size: 30px;
  font-weight: bold;

}
.highlight {
  color:#748ca2;  
  font-size: 20px;
}

.languageButton {

  color:#969797;  
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: none;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
}


.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
