.tablet-interface-container {
  text-align: center;
  padding-top: 50px;
}

.drink-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.drink-row-separator {
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}

.drink-controls button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.drink-controls {
  margin-bottom: 15px; /* Increased bottom margin for more vertical gap */
}

.countdown, .status {
  font-size: 1rem;
  margin-top: 10px; /* Increased top margin for more vertical gap */
}

.add-drink-button {
  padding: 10px 15px;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
}
